
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.advice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    font-family: 'Pacifico';
    border: 10px solid #000000;
    min-width: 70%;
    padding:30px;
    border-radius: 10px;
    margin: 10px;
    min-height: 300px;
}

button{
    color: #ffffff;
    width: 100px;
    padding:15px;
    border-radius: 50%;
    border: none;
    font-weight: bold;   
    background-image: radial-gradient(circle, #272727, #1f1f1f, #171717, #0e0e0e, #000000);
    cursor: pointer;
}

button:focus{
    outline: 0;
}

p{
    margin: 5vh;
    font-size: 30px;
}
@media screen and (min-width:768px){
    .advice{
        max-width: 500px;
    }
    button{
        width: 100px;
    }

    .advice{
        padding:50px;
    }
}